apiVersion: v1
kind: ConfigMap
metadata:
  name: mtnp-config
  namespace: mtnp
data:
  REDIS_HOST: "redis"
  REDIS_PORT: "6379"
  REDIS_STREAM_NAME: "notifications_stream"
  REDIS_RETRY_STREAM_NAME: "notifications_retry_stream"
  REDIS_DLQ_STREAM_NAME: "notifications_dlq_stream"
  STORAGE_HOST: "notification-storage"
  STORAGE_PORT: "8090"
  STORAGE_BACKEND: "cassandra"
  STORAGE_FALLBACK_TO_FILE: "true"
  STORAGE_RECORD_TTL_SECONDS: "0"
  CASSANDRA_HOST: "cassandra"
  CASSANDRA_PORT: "9042"
  CASSANDRA_KEYSPACE: "notification_platform"
  GATEWAY_PORT: "8080"
  GATEWAY_REQUIRE_AUTH: "true"
  JWT_CLOCK_SKEW_SECONDS: "60"
  TENANT_RATE_LIMIT_PER_MINUTE: "1200"
  TENANT_DAILY_QUOTA: "50000"
  GATEWAY_MAX_STREAM_BACKLOG: "50000"
  GATEWAY_MAX_RETRY_STREAM_BACKLOG: "20000"
  DISPATCHER_GROUP: "notification_dispatcher_group"
  DISPATCHER_CONSUMER: "dispatcher-k8s"
  DISPATCHER_BLOCK_MS: "5000"
  DISPATCHER_MAX_RETRIES: "3"
  DISPATCHER_METRICS_PORT: "8092"
  DISPATCHER_RETRY_BACKOFF_BASE_MS: "250"
  DISPATCHER_RETRY_BACKOFF_MAX_MS: "10000"
  DISPATCHER_PENDING_RECOVERY_BATCH: "20"
